body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.password-container{
    background-color: rgba(165, 108, 153, 0.849);
    width: 500px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    
}

.password-container h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 3px;
}

.input{
    border: none;
    background : none;
    outline: none;
    letter-spacing: 3px;
    font-size: 24px;
}

.input::placeholder{
    letter-spacing: normal;
}

.fa-copy{
    cursor: pointer;
    opacity: .4;
}

.fa-copy:hover{
    opacity: 1;
}

.btn{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(228, 126, 228);
}

.alert-container{
    position: fixed;
    width: 500px;
    height: 40px;
    background-color: black;
    right: 20px;
    bottom: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: .4s;
}

.active.alert-container{
    right: -500px;
}